/* Estilos específicos para el contenedor del formulario */
.registro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

/* Estilos específicos para el formulario dentro del contenedor */
.registro-container .container {
    background-color: rgba(255, 255, 255, 1);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 600px;
    width: 100%;
}

.registro-container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Estilos para los campos de entrada en el formulario */
.registro-container input[type="text"],
.registro-container input[type="email"],
.registro-container input[type="tel"],
.registro-container input[type="password"] {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0.75rem;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.registro-container input[type="text"]:focus,
.registro-container input[type="email"]:focus,
.registro-container input[type="tel"]:focus,
.registro-container input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

/* Estilos para las etiquetas en el formulario */
.registro-container label {
    font-size: 0.9rem;
    font-weight: 600;
    color: #333;
}

/* Estilos para el checkbox y el acuerdo dentro del formulario */
.registro-container .flex.items-start {
    gap: 0.5rem;
}

.registro-container .flex.items-start label {
    color: #333;
    font-weight: 500;
}
